body,
html,
p {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

body {
    background-color: #f8f8f8;
    height: 100%;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 32px 0 rgba(0,0,0,.15);
    margin: 25% 10px;
    text-align: center;
}

.redirect-info {
    padding: 60px 20px;
}

.branding-section {
    border-top: 1px solid #d1d3d4;
    padding: 20px;
}

.branding-content {
    display: inline-block;
}

.branding-content span {
    color: #979797;
    display: inline-block;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 8px;
    vertical-align: top;
}

.branding-content img {
    height: 24px;
    width: 90px;
}

.card {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #eee;
    text-align: center;
    padding: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

.wrapper {
    max-width: 400px; /* Set maximum width for mobile screens */
    margin: 0 auto; /* Center the content horizontally */
    padding: 10px; /* Add some padding around the content */
}

.redirect-section {
    display: none;
}

.footer-content {
    margin: 20px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

button {
    background-color: #97214d;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: lato;
    font-size: 13px;
    height: 45px;
    margin-top: 80px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

/* Media query for mobile screens */
@media (max-width: 480px) {
    .wrapper {
        max-width: 100%; /* Set maximum width to fill the screen */
        padding: 20px; /* Increase the padding for better readability */
    }
}

.info-image-error {
    max-width: 100%;
    width: 100%;
}

.info-image {
    width: 30%;
}

.info-sub-text {
    color: #6d6e71;
    font-size: 14px;
    line-height: 20px;
}

.info-sub-text-error {
    color: #6d6e71;
    font-size: 12px;
    line-height: 20px;
}

.info-heading {
    color: #231f20;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 30px 0 10px 0;
}
